// 主色
$mc: #fa464c;
// 反色
$otc: #fff;
// 字体颜色
$txc: #333;
// 浅色背景
$bgc: #e4e8f1;
// 顶部高度
$th: 0.8rem;
// 设置字体
@mixin ft($s: 14px, $c: $txc, $b: normal) {
    color: $c;
    font-size: $s;
    font-weight: $b;
}